@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 11% 10%;
    --foreground: 0 0% 98%;
    --card: 120 11% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 120 11% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 71% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 11% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 11% 18%;
    --muted-foreground: 120 5% 70%;
    --accent: 76 78% 54%;
    --accent-foreground: 120 11% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 11% 20%;
    --input: 120 11% 20%;
    --ring: 76 78% 54%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(var(--background));
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) / 0.3);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary) / 0.5);
}